.login-screen {
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

.login-background {
    background: #33738A;
    height: 100vh;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;

    img {
        display: block;
        height: 100%;
        object-fit: cover;
        width: 100%; 
    }
}

.login-container {
    background: #FFF;
    height: 100vh;
    padding: 50px;
    position: fixed;
    right: 0;
    text-align: left;
    top: 0;
    width: 500px;
    z-index: 200;
}
