.card-img-top {
    height: 100%;
    opacity: 0.8;
    width: 100%;
}

.avatar-change {
    color: #333;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    right: 10px;
    top: 10px;
}
