<template>
    <div class="container" slot="content">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-img-block">
                        <img class="card-img-top" src.bind="user.image" alt="${user.name}">
                        <label class="avatar-change" for="avatarUpload" show.bind="editMode"><i class="fa fa-camera" aria-hidden="true"></i></label>
                        <input type="file" id="avatarUpload" style="display:none;" files.bind="currentUserFile">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">${user.name}</h4>
                        <p>${user.email}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>ID</strong><br>${user.id}</li>
                        <li class="list-group-item"><strong>Username</strong><br><span show.bind="!editMode">${user.username}</span><input type="text" class="form-control" value.bind="user.username" show.bind="editMode"></li>
                        <li class="list-group-item"><strong>Email</strong><br><span show.bind="!editMode">${user.email}</span><input type="text" class="form-control" value.bind="user.email" show.bind="editMode"></li>
                    </ul>
                    <div class="card-block">
                        <a href="#" click.delegate="saveUser(user)" class="card-link btn btn-primary" if.bind="editMode">Save changes</a>
                        <a href="#" click.delegate="toggleEditMode()" class="card-link">${editMode ? 'Cancel user edit' : 'Edit user'}</a>
                        <a href="#" click.delegate="deleteUser()" class="card-link">Delete user</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete user: ${user.name}?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" click.delegate="deleteUserConfirm()">Yes</button>
      </div>
    </div>
  </div>
</div>
    </div>

</template>
