<template>
    <div slot="content">
        <div class="login-background"><img src="/images/background.jpg"></div>

        <div class="login-container">
            <form novalidate="novalidate">
                <div class="form-group form-group-default">
                    <label>Login</label>
                    <div class="controls">
                        <input type="text" name="username" placeholder="Username" class="form-control" required="" aria-required="true" aria-invalid="false" value.bind="username">
                    </div>
                </div>

                <div class="form-group form-group-default">
                    <label>Password</label>
                    <div class="controls">
                        <input type="password" class="form-control" name="password" placeholder="Password" required="" aria-required="true" aria-invalid="false" value.bind="password">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="checkbox ">
                            <input type="checkbox" value="1" id="rememberme">
                            <label for="rememberme">Keep me logged in</label>
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary" type="submit">Login</button>
            </form>
        </div>
    </div>
</template>
